{#- SSH/FILES/SSH_CONFIG --- OpenSSH client configuration template

    Copyright (c) 2015, Matthew X. Economou <xenophon@irtnog.org>

    Permission to use, copy, modify, and/or distribute this software
    for any purpose with or without fee is hereby granted, provided
    that the above copyright notice and this permission notice appear
    in all copies.
  
    THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL
    WARRANTIES WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED
    WARRANTIES OF MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE
    AUTHOR BE LIABLE FOR ANY SPECIAL, DIRECT, INDIRECT, OR
    CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM
    LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT,
    NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN
    CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.

    This file generates the ssh_config file from a Jinja template.
    The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL
    NOT", "SHOULD", "SHOULD NOT", "RECOMMENDED", "MAY", and "OPTIONAL"
    in this document are to be interpreted as described in RFC 2119,
    https://tools.ietf.org/html/rfc2119.  The key words "MUST (BUT WE
    KNOW YOU WON'T)", "SHOULD CONSIDER", "REALLY SHOULD NOT", "OUGHT
    TO", "WOULD PROBABLY", "MAY WISH TO", "COULD", "POSSIBLE", and
    "MIGHT" in this document are to be interpreted as described in RFC
    6919, https://tools.ietf.org/html/rfc6919.  The keywords "DANGER",
    "WARNING", and "CAUTION" in this document are to be interpreted as
    described in OSHA 1910.145,
    https://www.osha.gov/pls/oshaweb/owadisp.show_document?p_table=standards&p_id=9794.
#}

{%- from "ssh/map.jinja" import ssh_settings with context -%}

{#- Remove formula-specific keys. -#}
{%- do ssh_settings.pop('packages') -%}
{%- do ssh_settings.pop('config_directory') -%}

#### SSH_CONFIG --- System-wide OpenSSH client configuration file

### This is the ssh client system-wide configuration file, managed by
### Salt.  See ssh_config(5) for more information.  This file provides
### defaults for users, and the values can be changed in per-user
### configuration files or on the command line.  Note that any changes
### to this file will be overwritted by the configuration management
### system.

### Configuration data is parsed as follows:
###  1. command line options
###  2. user-specific file
###  3. system-wide file
### Any configuration value is only changed the first time it is set.
### Thus, host-specific definitions should be at the beginning of the
### configuration file, and defaults at the end.

{#- Conditional blocks contain other configuration directives. #}
{%- set conditional_blocks = [
  'Host',
  'Match',
] %}

{#- These keywords get repeated for each list entry.  Otherwise, list
    values get rendered as comma-delimited. #}
{%- set repeated_keywords = [
  'DynamicForward',
  'IdentityFile',
  'LocalForward',
  'RemoteForward',
  'SendEnv',
] %}

{%- macro render_ssh_config(dict, width=0) -%}
{%-   if dict is defined and dict is mapping %}
{%-     for key, value in dict|dictsort %}
{%-       if value is sameas None %}
{#-         no-op -#}
{%-       elif key.split(' ')[0] in conditional_blocks %}
{{          '%s'|format(key)|indent(width) }}{{ render_ssh_config(value, width+2) }}{{ '\n' if width == 0 }}
{%-       elif value is sequence and value is not string %}
{%-         if key in repeated_keywords %}
{%-           for v in value %}
{{              '%s %s'|format(key, v)|indent(width, True) }}
{%-           endfor %}
{%-         else %}
{{            '%s %s'|format(key, value|join(','))|indent(width, True) }}
{%-         endif %}
{%-       elif value is sameas(True) or value is sameas(False) %}
{{          '%s %s'|format(key, "yes" if value else "no")|indent(width, True) }}
{%-       else %}
{{          '%s %s'|format(key, value)|indent(width, True) }}
{%-       endif %}
{%-     endfor %}
{%-   endif %}
{%- endmacro %}
{{ render_ssh_config(ssh_settings) }}
#### SSH_CONFIG ends here.

{#- SSH/FILES/SSH_CONFIG ends here. #}
